@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/web/gilroyextrabold.woff2");
}

@font-face {
  font-family: "gilroylight";
  src: url("../fonts/web/gilroylight.woff2");
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/web/opensans.woff2");
}

@font-face {
  font-family: "opensanslight";
  src: url("../fonts/web/opensanslight.woff2");
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", "Arial Black", sans-serif;
  color: black;
  letter-spacing: 0.01em;

  background-color: white;
}

a {
  color: inherit;  

  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container-center {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  box-sizing: border-box;
  width: 1160px;
  height: 299px;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #f7e296;  
}

.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.search-form .search-field,
.search-form .button,
.main-header-user-menu,
.main-header-links,
.catalog-menu,
.promo-container .product-discription,
.product-characters thead,
.services-discriptions-item p,
.about p,
.contacts p,
.main-footer-user-menu,
.main-footer-links,
.footer-adress,
.footer-phone,
.popup .popup-compare-link {
  font-size: 15px;
  line-height: 30px;
  font-family: "opensanslight", "Candara", sans-serif;
  letter-spacing: 0.01em;
}

.main-header-logo,
.main-footer-logo {
  font-size: 48px;
  line-height: 48px;

  text-transform: uppercase;
}

.main-header-logo {
  position: relative;
  top: -25px;

  display: block;
}

.main-header div.flex-container {
  align-items: flex-start;
  margin-bottom: 20px;
}

.main-header .search-form {
  min-height: 49px;

  align-items: center;
}

.search-form label {
  position: absolute;
}

.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active {
  opacity: 0.3;
}

.search-form .search-field {
  width: 355px;
  min-height: 49px;
  margin: 0;
  padding: 0;
  padding-left: 39px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search-form .search-field:hover {
  opacity: 0.6;
}

.search-form .search-field:focus {
  padding-top: 2px;

  outline: none;
  border-bottom: 2px solid black;
  opacity: 1;
}

.search-form .button {
  width: 85px;
  min-height: 49px;
  margin: 0;
  margin-right: 100px;
  padding: 0;

  background-color: transparent;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.search-form .button:hover,
.search-form .button:focus {
  color: white;

  background-color: black;
}

.search-form .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header .main-header-user-menu {
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.logout-link {
  opacity: 0.3;
}

.logout-link:hover,
.logout-link:focus {
  opacity: 0.6;
}

.logout-link:active {
  opacity: 1;
}

.main-header .main-header-links {
  justify-content: space-between;
  align-items: center;
  width: 192px;
  margin: 0;
  padding-left: 28px;
}

.user-name-link:hover,
.user-name-link:focus,
.login-link:hover,
.login-link:focus,
.compare-link:hover,
.compare-link:focus,
.cart-link:hover,
.cart-link:focus {
  opacity: 0.6;
}

.main-header-navigation .main-header-menu-item {
  margin-right: 35px;
}

.main-header-navigation .main-header-menu-item:first-child {
  width: 540px;
  margin: 0;
}

.main-header-navigation .main-header-menu-item:last-child {
  margin: 0;
  margin-left: auto;
}

.main-header-navigation .main-menu-link {
  display: block;
  margin-bottom: 20px;
}

.main-header-navigation .catalog-menu {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 1040px;
  height: 135px;
}

.catalog-menu .catalog-menu-item {
  width: 200px;
  margin-right: 40px;
}

.catalog-menu .catalog-menu-item:nth-child(n+4) {
  margin-right: 0;
}

.catalog-menu .catalog-menu-item:nth-child(5) {
  margin-bottom: 60px;
}

.main-menu-link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-menu-link:hover, /*Если задавать opacity - влияет и на вложенный список*/
.main-menu-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-name-link:active,
.login-link:active, 
.compare-link:active, 
.cart-link:active {
  opacity: 0.3;
}

.main-menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu-link:hover ul.catalog-menu, /* Возвращаем вложенное меню в невыделенное состояние,*/
.main-menu-link:focus ul.catalog-menu, /* если выделен открывающий его элемент списка сверху*/
.main-menu-link:active ul.catalog-menu {
  color: rgba(0, 0, 0, 1);
}

.catalog-menu-link {
  font-size: 15px;
  line-height: 36px;
}

.catalog-menu-link:hover, /*Отдельно прописываем выделенные состояния для вложенного меню*/
.catalog-menu-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -----------------------------------Main---------------------------------------- */

/*.slider-menu .button-slider {
 ---------------Доработать!--------------------
}
*/

.main-container h2,
.main-container h3,
.main-container p {
  margin: 0;
  padding: 0;
}

.product-slider {
  margin-bottom: 95px;
}

.promo-container .promo-image {
  align-self: center;
  width: 600px;

  text-align: center;
}

.promo-container .promo-characters {
  position: relative;

  width: 560px;
}

.promo-container .promo-number {
  position: absolute;
  right: 60px;


  font-size: 179.2px;
  line-height: 179.2px;
  color: white;

  background-color: #f7e296;  /*---------------После теста убрать!--------------------*/
  z-index: -1;
}

.promo-characters p {
  margin: 0;
  padding: 0;
}

.promo-container .promo-title {
  margin-top: 90px;
  margin-bottom: 30px;

  font-size: 47px;
  line-height: 56px;
}

.promo-characters .product-discription {
  margin-bottom: 40px;
}

.promo-characters .active-button {
  display: inline-block;
  margin-bottom: 50px;
}

.active-button {
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;

  background-color: transparent;
  border: none;
}

.active-button:hover,
.active-button:focus {
  background-color: #f0c52e;
}

.active-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo-characters .product-characters {
  flex-direction: column-reverse;
}

.product-characters .product-characters-item {
  width: 160px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.product-characters .product-characters-item:nth-child(2) {
  width: 140px;
}

.product-characters th {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: #464646;
}

.product-characters tbody{
  font-size: 36px;
  line-height: 48px;
  font-family: "gilroylight", Arial, sans-serif;
}

.popular {
  margin-bottom: 107px; /* 80 + 27 - top minus У нижнего элемента services*/
}

.popular .popular-products-link {
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 160px;
  margin-right: 40px;
}

.popular-products-item .popular-products-wrapper{
  min-height: 160px;
  margin-bottom: 30px;

  background-color: #f7e296;
  background-position: 50% 50%;  
  background-repeat: no-repeat;
}

.popular-products-item:nth-child(1) .popular-products-wrapper{
  background-image: url('../img/popular-1.svg');
}

.popular-products-item:nth-child(2) .popular-products-wrapper{
  background-position: 50% 100%;  
  background-image: url('../img/popular-2.svg');
}

.popular-products-item:nth-child(3) .popular-products-wrapper{
  background-image: url('../img/popular-3.svg');
}

.popular-products-item:nth-child(4) .popular-products-wrapper{
  background-image: url('../img/popular-4.svg');
}

.popular-products-item:nth-child(5) .popular-products-wrapper{
  background-image: url('../img/popular-5.svg');
}

.popular-products-item:nth-child(6) .popular-products-wrapper{
  background-image: url('../img/popular-6.svg');
}

.popular-products-link:hover .popular-products-wrapper,
.popular-products-link:focus .popular-products-wrapper {
  background-color: #f0c52e;
}

.popular-products-link:active span,
.popular-products-link:active img {
  opacity: 0.3;
}

.services {
  margin-bottom: 94px;

  background-color: #e5e5e5;
}

.services .container-center {
  position: relative;
  top: -27px;
}

.services .services-list {
  width: 277px;
  margin-right: 7px;
}

.services-item a {
  display: flex;
  min-height: 40px;
  margin-bottom: 25px;
  padding-left: 15px;
  align-items: center;
}

.services-item .current,
.services-item a:active {
  color: #f7e184;
  background-color: black;
}

.services-discriptions {
  width: 876px;
  margin-left: 116px;
}

.services-discriptions .services-discriptions-item {
  width: 460px;
}

.partners {
  margin-bottom: 95px;
}

.partners .partners-item {
  width: 260px;
  min-height: 100px;
  margin-right: 40px;
}

.partners-list .partners-item {
  opacity: 0.2;
}

.partners-list .partners-item:hover {
  opacity: 1;         /* На JS нужно заменить логотипы на цветные при наведении*/
}

.about,
.contacts {
  width: 560px;
  padding-top: 40px
}

.about {
  margin-right: 40px;
}

.about h2,
.contacts h2 {
  margin-bottom: 40px;
}

.services-discriptions-item h3 {
  margin-bottom: 30px;
}

.services-discriptions-item h3,
.about h2,
.contacts h2 {
  font-size: 47px;
  line-height: 48px;
}

.about p {
  width: 480px;
}

.about p,
.contacts p {
  margin-bottom: 30px;

  letter-spacing: 0;
}

.services-discriptions-item p,
.about p,
.contacts p {
  color: #464646;
}

.about .transport-list {
  margin-bottom: 60px;
  padding-top: 20px;
}

.transport-list .transport-item {
  margin-left: 35px;
  margin-bottom: 20px;
}

.contacts .contacts-map {
  height: 222px;
  margin-bottom: 60px;
}

/* -----------------------------------Footer---------------------------------------- */

.main-footer {
  margin-top: 90px;

  color: white;

  background-color: #464646;
}

.main-footer .main-footer-top-row{
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 60px;
}

.main-footer-logo {
  color: #ffc600;
}

.main-footer .main-footer-user-menu {
  margin-left: auto;
  /*margin-right: 35px;*/
}

.main-footer-top-row li {
  margin-left: 35px;
}

.main-footer-center-row {
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
}

.main-footer-center-row p {
  margin: 0;
  padding: 0;
}

.main-footer-center-row .footer-adress {
  order: -1;
}

.main-footer-center-row .main-footer-menu {
  justify-content: space-between;
  width: 440px;
}

.main-footer-center-row .footer-phone {
  margin-left: 38px;

  text-align: right;
}

.main-footer-menu .main-menu-link:hover, /*Если задавать opacity - влияет и на вложенный список*/
.main-footer-menu .main-menu-link:focus {
  color: rgba(255, 255, 255, 0.6);
}
.main-footer-menu .main-menu-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-user-menu .user-name-link,
.main-footer-user-menu .login-link,
.main-footer-links .compare-link,
.main-footer-links .cart-link {
  opacity: 0.7;
}

.main-footer-user-menu .user-name-link:hover,
.main-footer-user-menu .user-name-link:focus,
.main-footer-user-menu .login-link:hover,
.main-footer-user-menu .login-link:focus,
.main-footer-links .compare-link:hover,
.main-footer-links .compare-link:focus,
.main-footer-links .cart-link:hover,
.main-footer-links .cart-link:focus {
  opacity: 1;
}

.main-footer-user-menu .user-name-link:active,
.main-footer-user-menu .login-link:active, 
.main-footer-links .compare-link:active, 
.main-footer-links .cart-link:active {
  opacity: 0.3;
}

.main-footer-bottom-row {
  justify-content: space-between;
  padding-bottom: 60px;
}

.main-footer-bottom-row .footer-social-list {
  justify-content: space-around;
  width: 160px;
  margin-left: 500px; 
}

.footer-social-item a {
  display: block;

  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.footer-social-list .facebook {
  background-image: url('../img/facebook.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social-list .instagram {
  background-image: url('../img/instagram.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social-list .twitter {
  background-image: url('../img/twitter.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-social-item a:hover,
.footer-social-item a:focus {
  opacity: 0.6;
}

.footer-social-item a:active{
  opacity: 0.1;
}

.footer-copyright {
  margin: 0;
  padding: 0;
}

.footer-copyright a {
  display: block;
  width: 27px;
  height: 35px;

  color: rgba(255, 198, 0, 1);

  background-image: url("../img/logo-html.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.footer-phone,
.footer-adress {
  letter-spacing: 0;
}

/* -----------------------------------Popups---------------------------------------- */

.write-us-popup {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);
}

.feedback-form {
  letter-spacing: normal;
}

.feedback-form textarea {
  font: inherit;
}

.feedback-form .input-field {
  font-size: 14px;
  line-height: 18px;
  font-family: "opensans", "Calibri", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(242, 242, 242, 0.5);
  border: none;
}

.placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: "opensans", "Calibri", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form .input-field:hover {
  background-color: rgba(234, 234, 234, 0.8);
}

.feedback-form .input-field:focus {
  color: rgba(70, 70, 70, 1);

  background-color: transparent;
  outline: 3px solid rgba(247, 226, 150, 0.5);
}

.feedback-form .input-field:focus + .placeholder { /* На JS отключить placeholder при вводе хотябы одного символа*/
  display: none;
}

.feedback-form .input-field:invalid {
  background-color: rgba(246, 218, 218, 0.5);
}

.popup-close-button {
  width: 55px;
  height: 55px;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;

  opacity: 0.5;
}

.popup-close-button:hover,
.popup-close-button:focus {
  opacity: 1;
}

.popup-close-button:active {
  opacity: 0.3;
}

.map-popup img {
  box-shadow: 10px 10px 20px rgba(4, 6, 6, 0.2);
}

/* -----------------------------------Inner-page---------------------------------------- */

.inner-page .main-header {
  margin-bottom: 35px;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 60px;
  padding: 0;

  font-size: 47px;
  line-height: 48px;
}

.inner-page .catalog-breadcrumbs {
  display: flex;
  margin-bottom: 45px;
  margin-left: 60px;

  font-size: 14px;
  line-height: 24px;
  font-family: "opensans", "Calibri", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .catalog-breadcrumbs-item {
  margin-right: 30px;
}

.catalog-breadcrumbs a:hover,
.catalog-breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.flex-container-main {
  display: flex;
  justify-content: center;
}

.filter-section-wrapper {
  display: flex;
  justify-content: center;
  /*width: 28.2758620689655%;*/
  margin-left: auto;

  background-color: rgb(239, 239, 239);
}

.filter {
  width: 200px;
  margin-left: auto;
  padding-left: 60px;
  padding-right: 70px;
}

.filter h2 {
  min-height: 70px;
}

.filter h2,
.sort h2 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
}

.inner-page h3 {
  font: inherit;
}

.filter h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  border-top: solid 2px black;
}

.filter-form {
  font: inherit;
}

.filter .filter-price {
  width: 100%;
}

.color-list,
.bluetooth-list {  /* Разобраться с заменой чекбоксов и радиобаттанов */
  font-size: 14px;
  line-height: 40px;
  font-family: "opensans", "Calibri", sans-serif;
  color: rgb(0, 0, 0);
}

.color-list input:hover,
.color-list input:focus,
.bluetooth-list input:hover,
.bluetooth-list input:focus {
  color: rgba(96, 96, 96, 0.6);
}

.color-list input:active,
.bluetooth-list input:active {
  color: rgba(0, 0, 0, 1);
}

.color-list input:disabled + label,
.bluetooth-list input:disabled + label {
  color: rgb(166, 166, 166);
}

.bluetooth-list {
  margin-bottom: 45px;
}

.filter .active-button {
  width: 100%;
}

.flex-container-column {
  flex-direction: column;
  /*width: 71.7241379310345%;*/
  margin-right: auto;
}

.sort {
  background-color: rgba(235, 235, 235, 0.8);
}

.sort div.flex-container {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 832px;
  min-height: 70px;
  margin: 0 auto;
  padding-left: 72px;
}

.catalog h2, 
.catalog h3 {
  margin: 0;
  padding: 0;
}
  
.sort h2{
  margin-right: 50px;
}

.sort-list {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-family: "opensans", "Calibri", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list .sort-item {
  margin-right: 15px;
}

.sort-list a:hover,
.sort-list a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active{
  color: rgba(0, 0, 0, 1);
}

.sort-direction-list {  /* Разобраться с заменой на стрелки */
  color: rgba(0, 0, 0, 0.2);
}

.sort-direction-list a:hover,
.sort-direction-list a:focus{
  color: rgba(0, 0, 0, 0.4);
}

.sort-direction-list a:active{
  color: rgba(0, 0, 0, 1);
}

/* -----------------------------------Catalog-section---------------------------------------- */

.catalog .catalog-list {
  box-sizing: border-box;
  padding-top: 69px;

  flex-wrap: wrap;
  width: 800px;
  margin-left: 34px;
}

.catalog .catalog-item {
  position: relative;
  margin-left: 40px;
}

.catalog-item .promotion {
  position: absolute;
  top: 29px;
  right: 29px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;

  border: 2px solid rgba(0, 0, 0);
  border-radius: 50%;
  opacity: 0.1;

  text-transform: uppercase;
  z-index: 2;
}

.catalog-item img {
  margin-bottom: 30px;
}

.catalog-item .flex-container {
  justify-content: space-between;
}

.catalog-item a {
  width: 260px;
  margin-bottom: 35px;
}

.catalog .price {
  font-size: 16px;
  line-height: 24px;
  font-family: "gilroylight", Arial, sans-serif;
  color: #464646;
}

.pagination-list {
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  margin-bottom: 77px;

  background-color: rgba(235, 235, 235, 0.8);
}

.pagination-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;

  font-size: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);

  text-transform: uppercase;
}

.pagination-list .pagination-item {
  width: 40px;

  text-align: center;
}

.pagination-list .pagination-item:first-child,
.pagination-list .pagination-item:last-child {
  width: 130px;
}

.pagination-list .pagination-item:first-child {
  margin-right: auto;
}

.pagination-list .pagination-item:last-child {
  margin-left: auto;
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active,
.pagination-item.current a {
  color: rgba(0, 0, 0, 1);
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: rgba(0, 0, 0, 1);
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  background-color: rgba(217, 217, 217, 1);
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .main-footer {
  margin: 0;
}

.popup.item-hoover {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);

  z-index: 3;  
}

.popup .popup-recycle-button {
  margin-top: 180px;
}

.popup .popup-compare-link {
  margin-top: 10px;

  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.popup .popup-compare-link:hover {
  color: rgba(0, 0, 0, 1);
}

.popup .popup-compare-link:active {
  color: rgba(0, 0, 0, 0.2);
}

/* УСТАНОВИТЬ ПРИМОЧКИ ДЛЯ ИЕ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/